.main-grid {
    display: grid;
    grid-template-areas:
        "header"
        "content"
        "footer";
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 5px;
}


/* Lists */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.items-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.items-list :hover {
    background-color: #ddd;
    transition-duration: 0.5s;
}

.individual-item {
    list-style: none;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px gray;
    background-color: rgba(255, 255, 0, 0.085);

}

.item-name {
    font-weight: bold;
    font-size: 1.2rem;

}

.price {
    font-weight: bold;
    font-size: 1.2rem;

}

.items-list .individual-item article {
    text-align: center;
}

.items-list figure {
    margin: 0;
}

.items-list figcaption {
    margin-top: 10px;
}

.item-description {
    text-align: center;
    margin-top: 12px;
}

.items-list .item-description p {
    margin: 6px 0;
}

.items-list .item-description p:first-child {
    font-weight: bold;
    font-size: 1.05rem;
}

.items-list .item-description p:last-child {
    color: #dc3e00;
}

/* Search field */
.searchfields {
    width: 10rem;
    padding: 6px;
    border: 1px solid #ffa25b;
    border-radius: 6px;
    font-size: 1rem;
    outline: none;
    box-sizing: border-box;
}

.searchfield-container button {
    padding: 6px 10px;
    border: 1px solid #ffa25b;
    background-color: #ffa25b;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.searchfield-container {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, auto);
    justify-content: start;

}

.hiddenfields{
    display: none;
}

/* View button */
.viewbtn {
    background-color: #dc3e00;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px 0;
    cursor: pointer;
    border-radius: 10px;
}

.viewbtn:hover {
    background: darkblue;
}