/* review form section*/
.review-title {
    text-align: center;
}

.star-div {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.star-wrap {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    border: 0;
}

.star-wrap legend {
    margin: auto;
}

.star-wrap input {
    display: none;
}

.star-wrap label {
    font-size: 2rem;
    color: gray;
    cursor: pointer;
}

/* hover effect */
.star-wrap label:hover,
.star-wrap label:hover~label {
    color: gold;
}

/* checked effect */
.star-wrap input:checked~label {
    color: gold;
}


legend {
    font-size: 1.5rem;
    font-weight: bold;
}

.review-form {
    display: grid;
    background: #f5f5f5;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.review-form h2 {
    color: #aa0404;
    margin-bottom: 20px;
}

.review-form label {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 1.5rem;
    font-weight: bold;
}

.review-form input {
    height: 20%;
}

.textarea-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    width: 50%;
}

.review-form input,
.review-form textarea {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 0.95rem;
}

.review-form textarea {
    resize: none;

}

.names-input-fields {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: baseline;
}

.review-form button {
    margin-top: 20px;
    padding: 12px;
    border: none;
    border-radius: 6px;
    background-color: #FF7A05;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.review-form button:hover {
    background-color: #c55400;
}

.reviews-section {
    max-height: 500px;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    gap:20px;
}

.user-reviews-box {
    margin: auto;
    margin-bottom: 20px;
    display: flex;
    border-color: orangered;
    border-width: 1px;
    border-style: solid;
    width:  400px;
    height: 250px;
    max-height:600px;
    padding: 10px;
    border-radius: 10px;
    flex-direction: column;
    box-sizing: border-box;
}

.review-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-review {
    max-width:380px;
    padding: 20px;
    background-color: rgb(230, 230, 230);
    overflow-y: auto;
    word-wrap: break-word;
}

.review-footer {
    align-self: flex-end;
}

@media (max-width: 900px) {
	.reviews-section {
        display: flex;
		flex-wrap: wrap;
		justify-content: center;
        
	}

    .review-form {
        display: flex;
		flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        gap:20px;
	}

    .names-input-fields {
        gap: 20px;
        display: block;
        margin-bottom: 20px;
        
      }
}
